*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --main-color: #383838;
  --accent-color: #3a93c9;
  --heading-color: #000;
  --background-color: #fff;
  --border-color: #7a7a7a;
  --border-width: 1.5px;
  --accent-border-width: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック体", "游ゴシック", sans-serif;
  font-size: 19px;
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.9;
  background-color: var(--background-color);
}

nav.toc {
  position: sticky;
  top: 50px;
  width: 300px;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: var(--border-color);
  transition: 0.1s ease;
}

nav a:hover {
  color: var(--accent-color);
  transform: translateX(8px);
}

nav ul li {
  list-style: none;
  line-height: 2.5;
}

main {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 600;
  display: block;
  margin-bottom: -8px;
}

h1{
  margin-top: -180px;
  text-align: center;
}

h2 {
  text-decoration: none;
  border-bottom: var(--accent-border-width) solid #e3e3e3;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(var(--accent-border-width) * -1);
  width: 0;
  height: var(--accent-border-width);
  background-color: #ffab19;
  transition: width 0.3s ease;
}

h2:hover::after {
  width: 100%;
}

main a {
  text-decoration: none;
  color: var(--main-color);
  background-color: var(--background-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 4%;
  transition: color 0.1s ease, background-image 0.1s ease, background-size 0.1s ease;
}

main a:hover {
  color: var(--background-color);
  background-image: linear-gradient(var(--accent-color), var(--accent-color));
  background-size: 100% 100%;
}

main ul li {
  list-style: none;
  line-height: 1.7;
  text-indent: -2em;
  padding-left: 1em;
}

main ul li::before {
  content: '・';
}

@media (max-width: 1100px) {
  nav.toc {
    display: none;
  }
}
